#container {
  height: 200px;
  display: flex;
  align-items: flex-end;
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bar{
  width: 20px;
  background-color:black ;
  margin: 1px;
}
button{
  border :none;
  background-color: aqua;
  font-size: large;
  width: 100px;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}
span {
  color:green;
  font-size: larger;
}
p{
  font-family:  sans-serif;
}